@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* :root{
  --background:#07161f;
  --nav:#183D3D;
  --primary:#93B1A6;
  --shadow: #183d3d7b;
} */
/* :root{
  --background:#222831;
  --nav:#30475E;
  --primary:#DDDDDD;
  --shadow: #30475E7b;
} */
:root{
  --background:#DDDDDD;
  --nav:#222831;
  --primary:#30475E;
  --shadow: #2228317b;
}

/*Note this is not there in the origininal file if something breaks remove it and all appearences of ** */
body{
  width: 100vw;
  height: 100vh;
}
.screen {
  /* change the w and h to 100vw and 100vh */
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80vmin;
  aspect-ratio: 1/1;
  /* background-color: #ffffff; */
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.nav {
  width: 10%;
  height: 100%;
  /* background-color: #212121; */
  background-color: var(--nav);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  /* gap: 10%; */
}
.nav i {
  /* color: white; */
  color: var(--primary);
  font-size: 1.5rem;
  /* border: 2px solid white; */
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}
.nav i:hover{
  color: #4e6c88;
}
.nav i span {
  font-size: 0.6rem;
}

.nav i:first-child {
  /* background-color: #fff; */
  background-color: var(--background);
  /* color: #212121; */
  color: var(--primary);
}
.clockBox,.stopBox,.timerBox {
  width: 90%;
  height: 100%;
  /* background-color: #fff; */
  background-color: var(--background);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 15px 15px 0;
}
.activebox{
  display: flex;
}
.clock{
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: #04040487; */
  background-color: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow1,
.shadow2 {
  width: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: #0404045b; */
  background-color: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clockcircle {
  width: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: #0404045b; */
  background-color: var(--shadow);
  position: relative;
}
.second,
.minute,
.hour {
  width: 45%;
  height: 1%;
  background-color: rgb(246, 4, 4);
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0%;
}
.minute {
  width: 40%;
  height: 1%;
  background-color: #fff;
}
.hour {
  width: 30%;
  height: 1%;
  background-color: #fff;
}
.timeDisplay {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}
.date {
}
.time {
  font-size: 2.5rem;
  text-align: center;
}



@media only screen and (max-width:575px) {
  body{
    resize: none;
  }
  .container{
    width: 100vw;
    height: 100vh;
    flex-direction: column-reverse;
    border-radius: 0 0 0 0;
  }
  .nav{
    width: 100%;
    height: 10%;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 0 0 0 0;
  }
  .nav i{
    width: 30%;
    height: 90%;
    border-radius: 0 0 10px 10px;
    font-size: 5vmin;
  }
  .timeDisplay{
    width: 90%;
    text-align: center;
  }
  .clock{
    width: 70vmin;
  }
  .time{
    width: 90%;
    font-size: 10vmin;
  }
  .clockBox{
    justify-content: center;
    gap: 2rem;
  }
  
}



/* Section For the Stopwatch Section */
.stopwatchCircle{
  width: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: #0404045b; */
  background-color: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stopwatchCircle>.time{
  /* color: var(--background); */
  color: #eeeeee;
  font-size: clamp(1rem, 2vmin + 1rem ,15rem);
}
.btngroup{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btngroup button{
  width: 30%;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  /* color: var(--background); */
  color: #eeeeee;
  cursor: pointer;
}
.btngroup .reset:hover,.start:hover{
  background-color: #373e4a;
}
.pause:hover{
  background-color: rgb(232, 73, 45);
}
.reset{
  background-color: var(--nav);
}
.start{
  background-color: var(--nav);
}
.pause{
  background-color: tomato;
}

.settime{
  width: 70%;
  aspect-ratio: 1/1;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width:575px) {
  .settime{
    width: 100%;
  }
  .clock{
    width: 100%;
  }
}
.timechoser{
  width: 100%;
  height: 40%;
  /* border: 2px solid black; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.timeinput{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type='number'] {
  width: 30%;
  height: 100%;
  /* font-size: 3rem; */
  font-size: clamp(3rem, 2vmin + 1rem ,15rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  border: none;
  outline: none;
}
.timerDisplay{
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: none;
  align-items: center;
  justify-content: center;
}
.timerDisplay .clock{
  width: 100%;
}

.timerDisplay .shadow2{
  background-color: var(--background);
  background: conic-gradient(var(--background) 0deg, var(--shadow) 0deg);
}
.timerDisplay .stopwatchCircle{
  background-color: var(--nav);
}

.visible{
  display: flex;
}